 <div class="header" style="height: 14em;">
     <div class="container">
         <h1 class="logo" style="font-size: 1.8em; letter-spacing: 1px; line-height: 1.8em; font-weight: 600; text-transform:none;"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
         <nav class="nav-collapse">
             <ul class="noList">
               <li class="element last"> <a href="/contact">Contact</a> </li>
               <li class="element first"> <a href="/index.html">Blog</a> </li>
                 <li> <a href="https://pikachu987.github.io/tec/">Technology</a></li>
                 <li> <a href="https://pikachu987.github.io/cv/" target="_blank">Career</a></li>
                 <li> <a href="https://github.com/pikachu987" target="_blank">GitHub</a></li>
             </ul>
         </nav>
     </div>
 </div><!-- end .header -->
